<html>
	<head>
		<style>
			.backgroundImage
			{
				background-color:silver;
			}
			.center
			{
				text-align:center;
			}
		</style>
	</head>
    <title>NLP PROJECT</title>
    <body class = "backgroundImage">
		<div class ="center">
    			<h1>NLP PROJECT SEARCH</h1>
        		<form method = 'post' action = '/'>
        			<input name ='expression' value = '' type ='text' >
        			<input name ='submit' value = 'submit' type ='submit' >
        		</form>
				{% with messages = get_flashed_messages() %}
				            {% if messages %}
				                Results:
				                <pre>
				                    {% for message in messages %}
				{{ message }}<br>
				                    {% endfor %}
				                </pre>
				            {% endif %}
				{% endwith %}
		</div>
    </body>
</html>
